p {
    font-family: Disco;
}

@font-face {
    font-family: Disco;
    src: url(d2k.ttf);
}

a {
    font-family: Disco;
    align-items: center;
    font-weight: bold;
}

.FRG {
    font-family: Disco;
    position: absolute;
    color: blueviolet;
}