p {
    font-family: Disco;
}

@font-face {
    font-family: Disco;
    src: url(d2k.ttf);
}

a {
    font-family: Disco;
    position: absolute;
    color: blueviolet;
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
